#main {
  display: flex;
}

h1 {
  text-decoration: underline solid gray;
  color: #837a7a;
}

h1:after {
  content: '________';
  color: transparent;
}

#buttons {
  margin-left: 10%;
  margin-bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin: 0.8em;
  width: 5em;
  background: whitesmoke;
  color: #0f0f0f;
  border: solid 0.2em whitesmoke;
  font-size: 1.4em;
  border-radius: 0.5em;
}

.button.clickable:hover {
  background: lightgray;
  border: solid 4px lightgray;
}

.button.clickable:active {
  background: gray;
}

#timer {
  display: inline-block;
}

p {
  font-size: 1.5em;
  text-align: center
}

#time {
  font-size: 2em;
}

#spacebar {
  max-width: 15%;
  height: 15%;
}

#cube {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}